/** Application-specific CSS rules. */

.gwt-Label {
    margin-top: 1em;
    margin-bottom: 1em;
}

.question-panel {
    margin: 2em;
}

.result-panel {

}

.choices-panel {
    margin-top: 1em;
    margin-bottom: 1em;
}


.user-status-panel {
    margin: 2em;
}

.status-panel {
}

.login-panel {
}

.login-failed {
    font-weight: bold;
}

.score {

}

.user-name {

}

.next-question-button {

}

.show-answer-button {

}

.question-label {

}

.sign-in-link {

}