/** Application-specific CSS rules. */

.gwt-Label {
    margin-bottom: 1em;
}

.content-panel {
    margin: 2em;
}

.result-panel {

}

.choices-panel {
    margin-top: 1em;
    margin-bottom: 1em;
}


.user-status-panel {
    margin: 2em;
    float: right;
}

.status-panel {
}

.login-panel {
}

.login-failed {
    font-weight: bold;
}

.score {

}

.user-name {

}

.next-question-button {

}

.show-answer-button {

}

.question-label {

}

.sign-in-link {

}

.about-label {

}

.username-label {

}

.username-title-label {

}

.menu-bar {
    float: right;
}

.menu-title {
    font-weight: bold;
    font-family: Sans;
    font-size: 2.5em;
}

.menu-title.gwt-Label {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.menu-panel {
    margin: 2em;
}

.version-label {

}

.logout-label {

}

.page-title-label {
    font-weight: bold;
    font-size: 1.2em;
}

.result-label {
    font-weight: bold;
}

.question-radio-button {

}

.gwt-RadioButton {
    line-height: 2em;
}

.user-history-recent-panel {
    margin: 2em;
    float: right;
}

.subsection-title {
    font-weight: bold;
}

.user-status-answers-panel {

}