/** Application-specific CSS rules. */

/* Responsive:
 *
 * Only show user-history-recent-panel on wider screens: */
@media screen and (max-width: 750px)  {
    .sidebar-panel { display: none; }
}

body {
    /* Remove the clean.css margin around the whole page.
     * We need the !important to override the body style in clean.css,
     * for some reason.
     */
    margin: 0px !important;
}

/* This lets a parent <div> be as high as its children.
 * See http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.sidebar-panel {
    margin: 2em;
    float: right;
    clear: right;
}

.sidebar-panel h2 {
    margin-top: 1em;
}

/* TODO: Make this not apply to a h2 inside sub-divs? */
.sidebar-panel h2:first-child {
    margin-top: 0;
}

.recommended-reading {
    float: left;
    clear: both;
}

.recommended-reading ul {
    list-style-type: none;
    padding: 0;
}

.gwt-Label {
    margin-bottom: 1em;
}

.content-panel {
    float: left;
    margin: 1rem; /* same as for menu-title. */
}

.result-panel {

}

.choices-panel {
    margin-top: 1em;
    margin-bottom: 1em;
}


.next-question-button {

}

.show-answer-button {

}

.question-label {

}

.sign-in-link {

}

a.gwt-Anchor.sign-in-link {
    color: white;
}
a.gwt-Anchor.sign-in-link:visited {
    color: white;
}

.about-link {
    float: right;
    clear: both;
    color: white;
}

a.gwt-Anchor.about-link {
    color: white;
}
a.gwt-Anchor.about-link:visited {
    color: white;
}

a.gwt-Anchor.user-name {
    color: white;
}
a.gwt-Anchor.user-name:visited {
    color: white;
}

.username-label {

}

.username-title-label {

}

.menu-panel {
    background-color: blue;
    clear: both;
}

.menu-title {
    margin: 1rem;
    display: inline-block; /* Don't stretch the empty rest of the div across the whole screen. */
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;

    /* TODO: Why doesn't any of this work to make the a text white, insead of gwt-Anchor.menu-title?
    color: white;
    background-color: blue;
    */
}

/* TODO: Why doesn't any of this work to make the a text white, insead of gwt-Anchor.menu-title?
.menu-title.gwt-Label {
margin-top: 0.2em;
margin-bottom: 0.2em;
}


.menu-title.a, a:visited {
color: white;
background-color: blue;
}

.menu-title.a:visited {
color: white;
background-color: blue;
}
*/

.gwt-Anchor.menu-title {
    color: white;
    background-color: blue;
}

.menu-others-panel {
    margin: 1rem;
    display: inline-block; /* Don't stretch the empty rest of the div across the whole screen. */
    float: right;
}

.user-status-panel {
    float: right;
    clear: both;
    color: white;
}

.status-panel {
}

.login-panel {
}

.login-failed {
    font-weight: bold;
}

.score {

}

.user-name {

}


.version-label {

}

.logout-label {

}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h2 * {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h3 * {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h3 * {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h4 * {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

* {
    font-family: 'Merriweather', serif;;
}

.page-title-label {
    font-weight: bold;
    font-size: 1.2em;
}

.result-label {
    font-weight: bold;
}

.question-radio-button {
    float: left;
    clear: left;
}

.question-radio-button-correct {
    font-weight: bold;
    font-size: larger;
}

.gwt-RadioButton {
    line-height: 2em;
}

.user-history-recent-panel {
    margin-top: 1em; /* Same as sidebar-panel h2 */
    margin-bottom: 1em;
    float: left;
    clear: both;
}

.user-status-answers-panel {

}

.next-question-section-title {
}

.next-question-section-title-label {
    margin-right: 1em;
}

.section-title {
    font-weight: bolder;
}

.user-answer-hyperlink {

}

.label-stats {
}

.label-problem-questions {
    margin-bottom: 1em;
}

.panel-problem-questions {
}

.problem-answer-hyperlink {

}

.problem-answer-score {
    margin-right: 0.5em;
    background: lightcyan;
    padding: 0.3em;
}

.about-label {

}

.show-from-panel {
    /* Otherewise there is a top margin. */
    margin-top: 0em;
}

.user-status-answers-panel h3 {
    font-family: 'Lato', sans-serif;
    margin-top: 2em;
}

.user-status-answers-panel h3:first-child {
    margin-top: 0em;
}

.label-questions-count {

}